footer {
    margin-top: 150px;
    background-color: #000000d2;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.left-side {
    padding: 10px;
	font-size: 1.3em;
    margin: 0;
    text-align: center;
    color: white;
}

.admin-icon {
  padding-left: 0.5em;
}

.admin-login-text {
  cursor: pointer;
  font-size: 18px;
  color: white;
  
  text-align: right;
}
.left-under{
margin-top: 0;
color: #ffffff;

}
.left-container,
.right-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.social-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-grow: 1;
}


.icons-row {
  display: flex;
  margin-top: 30px;
}
.social-icon {

    font-size: 24px;
    color: #ffffff;
    margin: 0 8px;
  
}

.social-icon {
    font-size: 24px;
    color: #ffffff;
    margin: 0 8px;
}
  
  .social-icon:hover {
    color:#699ccf;
  }

.kontakt{
  padding: 1px;
	font-size: 1.3em;
    margin: 0;
    text-align: center;
    color: #ffffff;
    margin-bottom: px;
}
.right-side{
  padding: 10px;
	font-size: 1.2em;
    margin-bottom: -20px;
    text-align: center;
    color: #ffffff;
}
  .right-side-text {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    color: #ffffff;
}

@media (max-width: 555px) {
    footer {
      flex-direction: column;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      height: auto;
      text-align: center;
    }
  
    footer p {
      font-size: 1em; /* Ändra font-size här */
    }

    .admin-login-text {
    
      grid-column: 1;
      grid-row: 4;
      text-align: center;
      
    }
  
    .right-side-text {
   
      margin: 0px auto;
    }
  
    .social-icons-container {
  
      margin: 5px auto;
    }
    .icons-row {
      display: flex;
      margin-top: 5px;
    }
  }
  
  