.my-form {
    width: 400px;
    margin: 0 auto;
    background-color: #f0f8db;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .my-label {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
  }
  
  .my-input,
  .my-textarea {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  .my-textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .my-button {
    font-family: Arial, sans-serif;
    background-color: #6CA695;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .my-button:hover {
    background-color: #45a077;
  }