.ShoppingIcon {
	background-color: #1419177f;
	color: white;
	position: fixed;
	top: 12.9em;
	right: 0em;
	height: 10em;
	padding: 0;
}

.shopping-cart {
    color: #8c0101;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

